BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMINS=123456789
ENV=development
DATABASE_URL=
DATABASE_SSL_CA=
DATABASE_SSL_MODE=verify-full
DATABASE_POOL_MIN_SIZE=1
DATABASE_POOL_MAX_SIZE=10
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://t.me/
